# Default ignored files
/shelf/
/workspace.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/material_theme_project_new.xml
/modules.xml
/inspectionProfiles/Project_Default.xml
/vcs.xml
/xwing-keyfile.iml
/go.imports.xml
